.result-container{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    height: 87.3%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-image: url('https://images.unsplash.com/photo-1639111721707-0ae0b6c409a1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1548&q=80');
}
html, body{
    height: 100%;
    margin: 0;
}
.result-header{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    height: 100px;
}
.result-document{
    height: 100%;
    margin: 0;
}
.result-home-district{
    margin-left: 20px;
}
.result-navbar{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: white;
}
.result-title{
    font-size: 25px;
    font-weight: 600;
    margin-left: 50px;
}
.result-authentication{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}
.result-sign-in{
    width: 70px;
    height: 40px;
    background-color: rgb(58, 163, 255);
    font-size: 15px;
    font-weight: 600;
    border: 0;
    border-radius:5px ;
    color: white;
    margin-left: 30px;
}
.result-sign-up{
    width: 70px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    border: 0;
    border-radius:5px ;
}
.result-sign-in,.result-sign-up,.result-random, .result-title:hover{
    cursor: pointer;
}
.result-note{

    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: rgb(255, 255, 255);
    background-color: rgb(212, 74, 74);
    border: 1rem;
}
.result-card{
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    position: absolute;
    top: 150px;
    border-radius: 10px;
}
.result-img{
    height: 300px;
    width: 500px;
    border-radius: 10px 10px 0 0;
    /* image-rendering: pixelated; */
    object-fit: cover;
}
.result-name{
    border-top: 2px;
    margin-top: 30px;
    text-align: center;
    padding: 5px;
    font-size: 35px;
    font-weight: 600;
}
.result-address{
    margin-top: 20px;
    text-align: center;
    padding: 15px;
    font-size: 20px;
    word-wrap: normal;
}

