.result-container{
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    height: 50%;
    width: 100%;
    justify-content: center;
    align-items: center;
}
html, body{
    height: 100%;
    margin: 0;
}
.result-header{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    height: 100px;
}
.result-document{
    height: 100%;
    margin: 0;
}
.result-home-district{
    margin-left: 20px;
}
.result-navbar{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: white;
}
.result-title{
    font-size: 25px;
    font-weight: 600;
    margin-left: 50px;
}
.result-authentication{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}
.result-sign-in{
    width: 70px;
    height: 40px;
    background-color: rgb(58, 163, 255);
    font-size: 15px;
    font-weight: 600;
    border: 0;
    border-radius:5px ;
    color: white;
    margin-left: 30px;
}
.result-sign-up{
    width: 70px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    border: 0;
    border-radius:5px ;
}
.result-sign-in,.result-sign-up,.result-random, .result-title:hover{
    cursor: pointer;
}
.result-note{

    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: rgb(255, 255, 255);
    background-color: rgb(212, 74, 74);
    border: 1rem;
}
.result-btn{
    width: 100%;
    display: flex;
    justify-content: center;
}
.result-random{
    width: 90px;
    height: 40px;
    background-color: rgb(58, 163, 255);
    font-size: 15px;
    font-weight: 600;
    border: 0;
    border-radius:5px ;
    color: white;
    /* margin-left: 30px; */
}