.districtContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.districtIcon {
    width: 100px;
    height: 100px;
    display: flex;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}
.districtIcon, .districtTitle:hover{
    cursor: pointer;
}
.districtTitle{
    font-size: 20px;
    margin-top: 10px;
}